    <%= show_index_title_conditionally %>
<ol>
  <% @clubs.each do |c|%>
    <li>
      <%= link_to c.name, club_path(c.id)%> Created by: <%= link_to c.user.name, user_path(c.user_id)%>  <br>
      <%#= link_to "Join a club", new_club_club_user_path(@c.id) if session[:user_id].present? %>
    </li>
  <%end%>
</ol>
<br>
<br>
<br>
<h6>TO DO:</h6>
<p> Add linkes to join clubs current user isn't a part of or did not created
</p>
<p> Make page look pretty
<p>
 Add links/buttons to leave club current user isn't a part of
</p>