<h1>Here are all the clubs:</h1>

<ol>
    <% @clubs.each do |c|%>
    <li>
        <%= c.name %>: <br>
        <%= c.description %>
    </li>
    <%end%>
</ol>

<br>
<br>
<br>
<h6>TO DO:</h6>
<p> Add linkes to join clubs current user isn't a part of or did not created
</p>
<p> Make page look pretty
<p>
 Add links/buttons to leave club current user isn't a part of
</p>