<h1> <%=@club.name%> Club  was created!</h1>

<h2>Bio</h2>

<b>Description</b>
<p><%=@club.description%></p>

<b>Date Created:</b>
<p><%=@club.date_founded%></p>

<br>
<br>
<br>
<h6>TO DO:</h6>


<p> Add linkes to join clubs current user isn't a part of or did not created
</p>
<p>
 Add links/buttons to leave club if current user is a member
</p>

<p> Show current club  members (Link to each user's show page) </p>
<p> indicate who is creator vs admin vs regular a user </p>
<p>add social media links (as database column) and  display  in view</p>
<p> Make page look pretty </p>
