<%= image_tag("clubs-orgs.jpeg", size: "650x350", alt: "Image with students") %>
<br><br>


<p>
<div class="text-center">
<h1>Campus Club Registration </h1>
<br>
<br>
  <%= link_to "Login", login_path, class: "btn btn-primary"%>
  OR
  <%= link_to "Signup", signup_path, class: "btn btn-primary"%>
  <br>
  OR
  <br>
<%= button_to "Sign in or Signup with google", '/auth/google_oauth2',  method: :post, class: "nav-link btn btn-primary", style: "display: inline;"%>  </div>
</p>

<!-- -->