<% if @user == current_user%>
  <h4>Hello <%= @user.name %>! This is your profile </h4>
  <br>
<%else%>
  <h4> <%= @user.name %>'s Profile </h4>
  <br>
<%end%>
<% if @user.clubs.length > 0%>
  <h5>Here are all  the  clubs you you have  created:</h5>
  <% @user.clubs.each do |uc|%>
    <p><%= link_to uc.name, club_path(uc.id) %> </p>
  <%end%>
<%end%>
<br>
  <h4> <%= @user.name %>'s Profile </h4>
<%end%>

<br>
<br>
<br>
<h6>TO DO:</h6>
<p> Show clubs this user created with button to delete each club </p>
<p> Show clubs this user joined with button to leave each club
</p>
<p>
  Add links/buttons to leave club if current user is a member
</p>
<p> Add short bio (as database column) and display  in view </p>
<p>add social media links (as database column) and  display  in view</p>
<p> Make page look pretty </p>
<p>  </p>
