<h1>Welcome <%= @user.name %> </h1>
<h6>TO DO:</h6>



<p> Show clubs this user created with button to delete each club </p>

<p> Show clubs this user joined with button to leave each club
</p>
<p>
 Add links/buttons to leave club if current user is a member
</p>

<p> Add short bio (as database column) and display  in view </p>
<p>add social media links (as database column) and  display  in view</p>
<p> Make page look pretty </p>
<p>  </p>